<% post = locals[:post] %>

<% content_for :title do %>
  <%= post["title"].gsub('*', '').split.map(&:capitalize).*' ' %>
<% end %>

<main class="main" role="main">

  <article class="article article--feature" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article__header">
      <h2 class="article__title"><%= markdown(post["title"]) %></h2>
      <h3 class="article__byline">
        <time class="article__timestamp" itemprop="dateCreated" datetime="<%= post["published_at"] %>">
          <%= DateTime.strptime(post["published_at"]).strftime("%A, %B %-d %Y") %>
        </time>
      </h3>

      <ul class="article__share share">
        <li class="share__item share__item--facebook">
          <a href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=<%= 'http://whatredread.com' + current_page.url %>&amp;p[title]=<%= URI::encode(post["title"]) %> %>" class="share__link" target="_blank"><span class="share__copy">Facebook</span></a>
        </li>
        <li class="share__item share__item--twitter">

          <% tweet_url_base = 'https://twitter.com/home?status=' + URI::encode('#WhatRedRead:') %>
          <% if post["title"].length <= 100 %>
            <% tweet_url_title = URI::encode(post["title"].gsub('*', '').titleize) %>
          <% else %>
            <% tweet_url_title = URI::encode(post["title"][0...102].gsub('*', '').titleize) + '...' %>
          <% end %>
          <% tweet_url_link = '(http://whatredread.com' + current_page.url + ')' %>
          <% tweet_url = tweet_url_base + ' ' + tweet_url_title + ' ' + tweet_url_link %>

          <a href="<%= tweet_url %>" class="share__link" target="_blank"><span class="share__copy">Twitter</span></a>
        </li>
        <li class="share__item share__item--email">
        <% email_url = 'http://whatredread.com' + current_page.url %>
        <a href="mailto:%20?subject=What%20Red%20Read:%20<%= URI::encode(post["title"].gsub('*', '').titleize) %>&body=<%= URI::encode(post["title"].gsub('*', '').titleize) + '%20(' + URI::encode(DateTime.strptime(post["published_at"]).strftime("%A, %B %-d %Y")) + ')'%>%0D%0A%0D%0A<%= email_url %>" class="share__link" target="_blank"><span class="share__copy">Email</span></a>
        </li>
        <li class="share__item share__item--print">
          <a href="javascript:window.print();" class="share__link" target="_blank"><span class="share__copy">Print</span></a>
        </li>
        <li class="share__item share__item--comments">
          <a href="#comments" class="scroll share__link"><span class="share__copy">Comments</span></a>
        </li>
      </ul>
    </header>

    <div class="article__main">
      <div class="article__body">
        <%= markdown(post['body']).gsub('src="/assets', 'src="http://whatredread.siteleaf.s3.amazonaws.com/assets') %>
      </div>
    </div>

    <footer class="article__footer">
      <div class="article__comments comments" id="comments">
        <div class="comments__mask comments__mask--topright"></div>
        <div class="comments__mask comments__mask--bottom"></div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'whatredread';

            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
      </div>
      
    </footer>

  </article>

</main>
