<!doctype html>

<%= partial "partials/html" %>

  <head>
    <meta charset="utf-8">

    <title><%= yield_content(:title) || "The Middleman" %></title>

    <%= partial "partials/meta" %>
    <%= partial "partials/css" %>
    <%= partial "partials/js" %>
    <%= partial "partials/link" %>


  </head>
  
  <body class="page <%= page_classes %>">

    <header class="header">
      <div class="logo">
        <h1 class="logo__heading">what<em>red</em>read</h1>
      </div>
      <div class="toggle" data-target="aside"></div>
    </header>

    <aside class="aside">
      <nav class="navigation navigation--primary">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="#"><span class="navigation__copy">About</span></a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#"><span class="navigation__copy">Posts</span></a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#"><span class="navigation__copy">Bookshelf</span></a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#"><span class="navigation__copy">Contact</span></a>
          </li>
        </ul>
      </nav>
    </aside>

    <main class="main">
      <%= yield %>
    </main>

    <footer class="footer">
    </footer>


  </body>
</html>
