<!doctype html>

<%= partial "partials/html" %>

  <head>
    <meta charset="utf-8">

    <title><%= page_title %></title>

    <%= partial "partials/meta" %>
    <%= partial "partials/css" %>
    <%= partial "partials/js" %>
    <%= partial "partials/link" %>
  </head>
  
  <body class="page <%= page_classes %>">

    <header class="header" role="banner">

      <%= partial "partials/logo" %>

      <%= partial "partials/toggle--navigation" %>

      <%= partial "partials/navigation--primary" %>

    </header>

    <%= yield %>

    <footer class="footer">
    </footer>

    <%= partial "partials/foot/js" %>

  </body>
</html>
