<% data.posts.each_with_index do |post, index| %>

<article class="article" role="article" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article__header">
    <% title = post["title"] %>
    <h2 class="article__title"><%= post["title"] %></h2>
    <h3 class="article__byline">
      <time class="article__timestamp" itemprop="dateCreated" datetime="<%= post["published_at"] %>">
        <%= DateTime.strptime(post["published_at"]).strftime("%A, %B %-d %Y") %>
      </time>
    </h3>
  </header>

  <div class="article__main">
    <div class="article__body">
      <% if index == 0 %>
        <%= markdown(post['body']).gsub('src="/assets', 'src="http://whatredread.siteleaf.s3.amazonaws.com/assets') %>
      <% else %>
        <%= markdown(post['body']).split[0...100].join(' ').gsub('src="/assets', 'src="http://whatredread.siteleaf.s3.amazonaws.com/assets') %>
      <% end %>
    </div>
  </div>

  <footer class="article__footer">
  </footer>

</article>

<% end %>






<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<% data.posts.each do |post| %>
<br />
  <%= post["id"] %><br />
  <%= post["title"] %><br />
  <%= post["slug"] %><br />
  <%= post["url"] %><br />
  <% body = markdown(post["body"]) %><br />
  <%= body.to_s.gsub('src="/assets', 'src="http://whatredread.siteleaf.s3.amazonaws.com/assets') %>
  <%= post["visibility"] %><br />
  <%= post["created_at"] %><br />
  <%= post["updated_at"] %><br />
  <%= post["published_at"] %><br />
  <%= post["user_id"] %><br />
  <%= post["site_id"] %><br />
  <%= post["parent_id"] %><br />
  <%= post["meta"] %>
<% end %>
</div>


<% shelf = client.shelf(5200240, 'currently-reading') %>
<%= shelf.books %>
