---
title: Home Page
---

HOME PAGE

<% data.posts.each do |post| %>
<br />
  <%= post["id"] %><br />
  <%= post["title"] %><br />
  <%= post["slug"] %><br />
  <%= post["url"] %><br />
  <% body = markdown(post["body"]) %><br />
  <%= body.to_s.gsub('src="/assets', 'src="http://whatredread.com.s3.amazonaws.com/assets') %>
  <%= post["visibility"] %><br />
  <%= post["created_at"] %><br />
  <%= post["updated_at"] %><br />
  <%= post["published_at"] %><br />
  <%= post["user_id"] %><br />
  <%= post["site_id"] %><br />
  <%= post["parent_id"] %><br />
  <%= post["meta"] %>
<% end %>
</div>


<% shelf = client.shelf(5200240, 'currently-reading') %>
<%= shelf.books %>
